*{
	
	margin:0;
	padding:0;
}
li{
	list-style:none;

}
a{
	text-decoration:none;
}

//re_top
#re_top{
	width:1280px;
	padding-top:23px;
	overflow: hidden;
	padding-bottom:52px;
	


}
#re_top img{
	display:block;
	float:left;
	margin-left:143px;
}
#re_top p{
	display:block;
	float:left;
	margin-left:190px;
	font-size:12px;
	color:#000000;

}
#re_top p a{
	color:#8cc341;
}
#re_top ul{
	float:left;
	overflow:hidden;
	margin-left:74px;
}
#re_top ul li{
	display:block;
	float:left;
	
	padding:0 10px;
	border-right:1px solid #870087;
	

}
#re_top ul li a{
	font-size:12px;
	color:#4b4b4b;
}





//登录主体

#enter_content{
	width:960px;
	height:480px;
	
	margin-left:108px;
	overflow:hidden;
}
#enter_content #en_con_div1{
	margin-top:20px;
	float:left;
}
#enter_content #en_con_div2{
	margin-left:103px;
	border:1px solid #c2c2c2;
	float:left;
	width:346px;
	height:450px;
	padding-left:8px;
	box-shadow:0 3px 5px #000;
	.yanzhengma{
		width:40px;
		background:gray;

	}
	.huanyizhang{
		margin-left:10px;
		font-size:12px;
		cursor:pointer;

	}

	.en_con_p1{
		font-size:12px;
		color:gray;
		margin-left:60px;
		display:none;
	}
	.en_con_p2{
		font-size:12px;
		color:gray;
		margin-left:60px;
		display:none;
	}
}
#enter_content #en_con_div2 div:nth-of-type(1){
	font-size:20px;
	color:#b44c5e;
	border:1px solid white;
	background-color:#f8f8f8;
	background : url("../images/top-foot/denglutupian_12.jpg") no-repeat 0 50px;

	p{
		margin-left:10px;
		margin-top:17px;
		margin-bottom:15px;
	}
}

#enter_content #en_con_div2 input{
	width:180px;
	height:20px;
	background:#f4f4f4;
	border: 1px solid #acacac;
}
#enter_content #en_con_div2 div{
	margin-top:10px;
}

#enter_content #en_con_div2 div:nth-of-type(4) input{
	width:80px;
}
#enter_content #en_con_div2 div:nth-of-type(3) input{
	margin-left:16px;

}

#enter_content #en_con_div2 div:nth-of-type(5) {
	input{
		width:25px;
	}

	button{
		margin-left:62px;
		width:102px;
		height:33px;
		border-radius:10px;
		line-height:33px;
		text-align:center;
		color:white;
		background:#1b8634;
	}

	span{
		font-size:12px;
	}

}
#enter_content #en_con_div2 div:nth-of-type(7){
	p:nth-of-type(1){
		font-size:12px;
		color:#d00000;
	}
	p:nth-of-type(2){
		font-size:12px;
		color:#000000;
	}
}
#enter_content #en_con_div2 div:nth-of-type(8) button{
	margin-left:112px;
	margin-top:15px;
	width:102px;
	height:33px;
	text-align:center;
	line-height:33px;
	background:#ab234d;
	border-radius:10px;
	a{
		color:white;
	}
	
}


