*{
	margin:0;
	padding:0;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}


// 头部

.order_top{
	width:889px;
	
	margin:0 auto;
	padding-top:20px;
	overflow:hidden;
	p:nth-of-type(1){
		float:left;
		
		width:250px;
		margin-left:500px;
		font-size:12px;
		color:#4b4b4b;
		a{
			color:#8cc341;
		}
	}
	p:nth-of-type(2){
		float:right;
		a{
			font-size:12px;
			color:#8cc341;
		}
	}
	div{
		img{
			display:block;
			float:left;
		}
	}
	
}

.order_content{
	//background:pink;
	width:885px;
	border:1px solid #c2c2c2;
	margin:0 auto;
	.order_con_div1{
		.order_c_div1_div{
			overflow:hidden;
			width:838px;
			height:70px;
			padding-top:15px;
			padding-bottom:15px;
			padding-left:49px;
			border-bottom:1px dashed #cccccc;
			div:nth-of-type(1){
				img{
					display:block;
					width:100%;
					height:100%;
				}
				float:left;
				width:70px;
				height:70px;
				
			}
			div:nth-of-type(2){
				width:300px;
				height:70px;
				
				float:left;
				margin-left:40px;
				.order_c_p5{
					font-size:12px;
					color:#6a6a6a;
				}
				.order_c_p6{
					
					font-size:12px;
					cursor:pointer;
					
				}

			}
			.order_c_p1{
				float:left;
				width:40px;
				height:70px;
				line-height:70px;
				text-align:center;
				
				margin-left:30px;
				font-size:12px;
			}
			.order_c_p2{
				float:left;
				font-size:12px;
				height:70px;
				line-height:70px;
				text-align:center;
				width:40px;
				
				margin-left:50px;
			}
			.order_c_p3{
				float:left;
				font-size:12px;
				height:70px;
				line-height:70px;
				text-align:center;
				width:40px;
				
				margin-left:40px;
			}
			div:nth-of-type(3){
				float:left;
				width:90px;
				height:70px;
				line-height:70px;
				margin-left:20px;
				overflow:hidden;
			
				span{
					width:8px;
					height:6px;
					background:#f5f5f5;
					border:1px solid #dddbdc;
					padding:0 5px;
					cursor:pointer;
					
					
					
				}
				input{
					width:30px;

					text-align:center;
					background:#f5f5f5;
					border:1px solid #dddbdc;
					
				}
			}
			.order_c_p4{
				float:left;
				font-size:14px;
				color:red;
				height:70px;
				line-height:70px;
				text-align:center;
				width:40px;
				
				margin-left:20px;
			}

		}
		
	}
	.order_con_div2{
		width:889px;
		overflow:hidden;
		height:42px;
		line-height:42px;
		border-bottom:1px dashed #cccccc;
		p:nth-of-type(1){
			width:160px;
			font-size:12px;
			color:black;
			float:left;
			margin-left:570px;
			span{
				padding:0 10px;
			}

		}
		p:nth-of-type(2){
			
			font-size:16px;
			color:#d80100;
			float:left;
			font-weight:600;
			span{
				padding:0 10px;
			}

		}
	}
	.order_con_div3{
		overflow:hidden;
		padding-top:10px;
		margin-bottom:13px;
		p{
			width:100px;
			font-size:12px;
			float:left;
			margin-left:520px;
			height:30px;
			line-height:30px;
			a{
				color:#325bc4;
			}
		}
		div:nth-of-type(1){
			float:left;
			margin-left:30px;
		}
		div:nth-of-type(2){
			float:left;
			margin-left:23px;
		}


	}
	.order_con_div4{
		width:885px;
		overflow:hidden;
		img{
			display:block;
			float:left;
		}
	}
}
