*{
	margin:0;
	padding:0;
}
li{
	list-style:none;

}
a{
	text-decoration:none;
}


/* list_top2      头部二 */
 #list_top2{
	width:1010px;
	
	padding-top:25px;
	margin:0 auto;
	overflow:hidden;

	#div1{
		float:left;
	}
	#ul1{
		
		margin-top:27px;
		float:left;
		margin-right:5px;
		li{
			float:left;
			
			margin-left:20px;
			a{
				color:#999999;
				font-size:15px;
			}
		}
	}
	#div2{
		border:2px solid #f0414e;
		float:left;
		margin-top:20px;
		overflow:hidden;
		margin-left:20px;
		input{
			float:left;
			height:32px;
			width:250px;
			border:none;
		}
		p{
			float:left;
			width:76px;
			height:32px;
			background: #f0414e;
			color:white;
			line-height:32px;
			text-align:center;

		}
	}
	#shoping_card_div4{
		float:left;
		margin-top:20px;
		overflow:hidden;
		margin-left:5px;
		img{
			float:left;
			display:block;

		}
		div{

			float:left;
			width:108px;
			height:33px;
			line-height:33px;
			border:1px solid #dddddd;
			background : #f6f6f6;
			font-size:12px;
			color:#4b4b4b;
			span{
				color:red;
			}
		}
	}
} 

/* 列表头部    list_head */

#list_head{
	width:1000px;
	margin:0 auto;
	

	div:nth-of-type(1){
		width:998px;
		height:36px;
		line-height:36px;
		overflow:hidden;
		border:1px solid #e2e2e2;
		a{
			color:#724b4b;
			font-size:12px;
			float:left;
			margin-right:20px;
		}
	}
	div:nth-of-type(2){
		margin-bottom:10px;
		margin-top:10px;
		overflow:hidden;
		border:1px solid #e2e2e2;
		font-size:12px;
		color:#999999;
		p{
			float:left;
			width:87px;
			height:32px;
			border-right:1px solid  #e2e2e2;
			margin-top:5px;
			text-align:center;
			line-height:32px;
			margin-bottom:5px;
		}
		ul{
			float:left;
			overflow:hidden;
			margin-top:5px;
			li{
				float:left;
				height:32px;
				line-height:32px;
				text-align:center;
				margin-left:20px;
				a{
					color:#999999;
					&:hover{
						color:red;
					}
				}
			}
		}
	}
	div:nth-of-type(3){
		border:1px solid #cccccc;
		border-top:2px solid #575757;
		ul{
			overflow:hidden;

			li{
				float:left;
				height:35px;
				width:85px;
				border:1px solid #cccccc;
				border-top:none;
				line-height:35px;
				text-align:center;
				a{
					color:#4b4b4b;
					font-size:12px;
					&:hover{
						color:red;
					}
				}
			}
		}
	}



}



/* list_content      列表主主体 */


#list_content{
	width:990px;
	margin:0 auto;
	padding-left:10px;
	
	
	margin-top:10px;
	overflow:hidden;
	
	.list_con_div1{
		img{
			width:202px;
			height:202px;
			display:block;
			
		}
		#con_p1{
			width:202px;
			height:35px;
			color:#c51520;
			font-size:20px;
			font-weight:600;
			
		}
		#con_p2{
			width:202px;
			height:45px;
			font-size:12px;
			color:#4b4b4b;
			&:hover{
				color:#c51520;
			}
			
		}
		&:hover{
			border:1px solid #c51520;
		}
		#list_con_div11{
			margin-top:20px;
			input{
				width:42px;
				height:28px;
				border:1px solid #cccccc;
				float:left;
			}
			div:nth-of-type(1){
				width:16px;
				height:28px;
				float:left;
				margin-left:10px;

				.con_p3{
					width:14px;
					height:12px;
					border:1px solid #dbdbdb;
					img{
						width:14px;
						height:12px;
						display:block;
					}
				}
				.con_p4{
					width:14px;
					height:12px;
					border:1px solid #dbdbdb;
					img{
						width:14px;
						height:12px;
						display:block;
					}
				}

			}
			.detail_shop_car{
				float:left;
				width:108px;
				height:26px;
				
				margin-left:10px;
				

				img{
					display:block;
					width:108px;
					height:26px;
				}
			}

		}
		width:215px;
		height:372px;
		float:left;
		padding-left:10px;
		padding-right:10px;
		padding-top:10px;
		margin-bottom:10px;
		border:1px solid white;
	}
}






