*{
	margin:0;
	padding:0;
}

#ball{
	width:20px;
	height:20px;
	background:url(../images/list/0120753120180117171140_1_200.jpg) no-repeat;
	position:absolute;
	display:none;
}


.shoping_car{
	z-index:5;
	position:absolute;
	width:400px;
	border:2px solid #f0424e;
	top:110px;
	right:163px;
	background:white;
	display:none;
	.shop_div1{
		
		
		.shop_div1_div1{
			width:400px;
			height:50px;
			padding:5px;
			overflow:hidden;
			border-bottom:1px dashed gray;
			position:relative;
			.shop_remove{
				position:absolute;
				width:16px;
				height:16px;
				right:10px;
				top:0;
				background:white;
				text-align:center;
				font-size:14px;
				border:1px solid gray;
			}
			img{
				display:block;
				width:100%;
				height:100%;
			}
			.shop_car_img{
				width:50px;
				height:50px;
				
				float:left;
			}
			.shop_p1{
				margin-left:3px;
				display:block;
				float:left;
				width:240px;
				height:50px;
				font-size:11px;
				color:#000000;
				line-height:50px;
				
			}
			.shop_p2{
				display:block;
				float:left;
				margin-left:30px;
				width:70px;
				height:50px;
				font-size:14px;
				color:#000000;
				line-height:50px;
				font-weight:600;
				span:nth-of-type(1){
					color:#d27362;
				}
				
			}

		}
	}
	.shop_div2{
		width:400px;
		height:48px;
		background:#f9f9f9;
		
		line-height:48px;
		p{
			font-size:14px;
			color:#222222;
			
			display:block;
			
			margin-left:5px;
			float:left;
			
			span{
				
				color:#c14d62;
				font-size:18px;
				font-weight:600;
			}
			
		}
		img{
			display:block;
			float:left;
			margin-top:10px;
			margin-left:20px;
			

		}
	}
}






//  闭包样式
	  #content {
            position: fixed;
            height: 100px;
            width: 300px;
            top:300px;
            left:40%;
            text-align:center;
            margin-left:-100px;
            border-radius: 5px;
            background: #cdcdcd;
            color: black;
            line-height:80px;
            margin: 50px auto;
        }

        #content #ok {
            position: absolute;
            height: 20px;
            width: 40px;
            bottom: 10px;
            left: 130px;
            background: #ff0000;
            text-align: center;
            line-height: 20px;
            cursor: pointer;
        }

        #content #cancel {
            position: absolute;
            height: 20px;
            width: 40px;
            bottom: 10px;
            left: 130px;
            text-align: center;
            line-height: 20px;
            background: #009933;
            cursor: pointer;
        }

        .hide {
            display: none;
        }
        .show {
            display: block;
        }